@model TVShop.DataAccess.Customer

@{
    ViewData["Title"] = "Details";
}


<div class="text-center  pt-4">
    <h1>My Account Details</h1>
    <hr />
    <dl class="row justify-content-md-center">
        <dd class = "col-8 overDiv border border-info">
            
                <table class="table text-white px-3">
                        <tr >
                            <th>
                                Order ID
                            </th>
                            <th>
                                Model
                            </th>
                            <th>
                                Manufacturer
                            </th>
                            <th>
                                HdrSupport
                            </th>
                            <th>
                                Inventory In Store
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th>
                                Prefer Delivery Date
                            </th>
                            <td>
                                    
                            </td>
                        </tr>
                        @foreach (var item in Model.Invoices) {
                            <tr>
                                <td>
                                    @item.InvoiceId
                                </td>
                                <td>
                                    @item.Product.Model
                                </td>
                                <td>
                                    @item.Product.Manufacturer
                                </td>
                                <td>
                                    @item.Product.HdrSupport
                                </td>
                                <td>
                                    @item.Product.Inventory
                                </td>
                                <td>
                                    @item.Product.Price
                                </td>
                                <td>
                                    @item.Quantity
                                </td>
                                <td>
                                    @item.Date
                                </td>
                                <td>
                                     <a  asp-controller="Invoices" asp-action="Edit" asp-route-ProductId="@item.ProductId" asp-route-CustomerId="@Model.CustomerId">Edit Order</a>
                                </td>
                            </tr>
                        }
                        <tr>
                                <td>
                                    
                                </td>
                                <td>
                                    
                                </td>
                                <td>
                                    
                                </td>
                                <td>
                                   
                                </td>
                                <td>
                                    Total :
                                </td>
                                <td>
                                    @{
                                        int sum = 0;
                                        foreach (var item in Model.Invoices)
                                        {
                                            sum += Convert.ToInt32(item.Product.Price);
                                        }
                                        @Html.DisplayTextFor(m => sum)
                                    }
                                </td>
                                <td>
                                    @{
                                        int sumQ = 0;
                                        foreach (var item in Model.Invoices)
                                        {
                                            sumQ += Convert.ToInt32(item.Quantity);
                                        }
                                        @Html.DisplayTextFor(m => sumQ)
                                    }
                                </td>
                                <td>
                                    
                                </td>
                                <td>
                                    
                                </td>
                            </tr>
                    
                </table>
                <br />
                <p class="lead">
                    <a  class="MainButton2" onclick = "return confirm('Thanks for purchase! \nPlease confirm the orders to redirct to paymant wesite.');">Pay Now</a>
                    <a  class="MainButton3" asp-controller="Invoices" asp-action="DeleteAll" onclick = "return confirm('Are you sure you want to remove all orders ?');">Delete all</a>
                </p>
        </dd>
        <dd class = "col-3 text-center overDiv border border-info ">

             <table class="table text-white px-3">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Password)
                        </th>
                    </tr>
                </thead>
                <tbody>
            
                    <tr>
                        <td>
                            @Html.DisplayFor(item => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(item => item.Password)
                        </td>
                        
                    </tr>
            
                </tbody>
            </table>



            <div>
                <a asp-controller="Products"  asp-action="Buy" asp-route-id="@Model?.CustomerId">Edit</a> |
                <a asp-action="Index">Back to List</a>
            </div>
        </dd>
        
        
    </dl>
</div>

